.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}

.mat-expansion-panel {
    background-color: #ffffff;
    box-shadow: none !important;
    border: 1px solid #e5e7eb;
    border-radius: 12px !important;
}

.mat-expansion-panel mat-icon {
    font-size: 16px;
    padding: 3px 4px;
}